<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>投票</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h1>Lab μ 2017年会长换届选举投票</h1>
            <form method="post" action="/">
                <div class="form-group">
                    {{ form.selection.label }}
                    {{ form.selection(class_='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.token.label }}
                    {{ form.token(class_='form-control', placeholder='Token') }}
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>